*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
}
.input-answer{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 4vh;
    width: fit-content;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6%;
    visibility: hidden;
}
.input-answer h1{
    font-size: 18px;
    color: #FFFFFF;
    padding: 15px;
}
.wordle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.guess{
    width: 100px;
    height: 100px;
    background: #c9b458;
}
.main{
    margin-top: 4%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Roboto', sans-serif;
}
.attempt-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.userWord{
    width: 60px; 
    height: 60px; 
    border: 2px solid #d3d6da;
    margin: 2.5px;
    font-size: 32px;
    color: black;
    text-align: center;
    padding: 8px;
}
.letter-container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;

}
.letter-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.letter-row button{
    font-size: 16px;
    font-weight: 600;
    height: 55px;
    width: 45px;
    margin: 3px;
    border: none;
    background-color: #d3d6da;
    border-radius: 10%;
}
.letter-btn{
    cursor: pointer;
    color: black;
}
#enter-btn{
    height: 55px;
    width: 70px;
    cursor: pointer;
    color: black;
}
.delete-button img{
    width: 25px;
    height: 25px;
    margin: 2px;
}
.delete-button{
    cursor: pointer;
    color: black;
}
#fname{
    display: none;
}
.shake-wrong{
    animation: shake 0.5s;
    animation-iteration-count: 1s;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}
.alert-result-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    display: none;
}
.alert-result{
    position: fixed;
    width: 38vh;
    height: 35vh;
    background-color: #FFF;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-top: -25%;
    margin-left: -250px; 
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}
.close{
    position: absolute;
    right: 0;
    margin: 5px;
    cursor: pointer;
}
.result-text-1{
    text-align: center;
    margin-top: 25%;
    font-size: 16px;
}
.result-text-2{
    text-align: center;
    margin-top: 10%;
    font-size: 16px;
}